go 1.20

toolchain go1.21.2

use (
	./Apps/appwithmysql
	./Apps/basic-app
	./Apps/bus-arrival
	./Apps/googlecompute
	./Apps/shopping-list
	./Apps/urlShortener
	./Web/analytics
	./Web/basic
	./Web/basicFileNotify
	./Web/basicGRPC
	./Web/basicGenerics
	./Web/basicMemory
	./Web/basicMemoryMap
	./Web/basicMigrate
	./Web/basicOpa
	./Web/basicPrometheus
	./Web/basicUsingDatastore
	./Web/cooklang
	./Web/customHPAScalingServer
	./Web/fullObservability
	./Web/leaderElectionWithK8s
	./Web/sendEmail
)
