<html>
    <head></head>
    <body>
        <h1>Code Submission</h1>
        <div>
            <label for="language">Language:</label>
            <select name="language" id="language" form="codeform">
                <option value="python">Python</option>
                <option value="golang">Golang</option>
            </select>
            <br><br>
            <form action="/submit-code" method="post" id="codeform">
                <label for="code">Code:</label>
                <textarea cols="80" rows="20" id="code" name="code"></textarea><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>