<html>
    <head>
        <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    </head>
    <body>
        <h1>Test this thing</h1>
        <button hx-post="/miao" hx-swap="outerHTML">
            Click Me
        </button>
    </body>
</html>